<div class="product-container">
  {{#each products}}
    <div class="card">
      <h3>{{product_name}}</h3>
      <p>{{description}}</p>
      <p class="price">${{price}}</p>
      <p class="stock">Stock: {{stock}}</p>
      <p class="description">description: {{description}}</p>
      <img src="/images/{{filename}}" alt="{{product_name}}">
    </div>
  {{/each}}
</div>